@import url("https://fonts.googleapis.com/css2?family=Cormorant+Unicase&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1&display=swap');

body {
    font-family: 'Shippori Mincho B1', serif;
    display: block;
    margin: 0;
    min-width: 600px;
}

button[data-button-exit]:active {
    color: #404040;
    transition: 200ms;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

p {
    margin-top: 4px;
    margin-bottom: 4px;
}



.background_dialog {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    top: 50%;
    left: 50%;
    height: 100vh;
    width: 100vw;
    z-index: 3;
    pointer-events: none;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 400ms;
}

.time {
    transition: 0ms;
}

.div_portfolio_text {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 0;
    width: 0;
    transform: translate(-50%, -50%);
    border: 4px solid black;
    border-radius: 40px;
    background-color: #e5e5e5;
    display: flex;
    flex-flow: column;
    align-items: center;
    z-index: 3;
    opacity: 0;
    pointer-events: none;
    transition: 400ms;
}

.div_portfolio_h1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-width: 0 0 4px 0;
    border-style: solid;
    border-color: black;
    align-items: center;
    overflow: hidden;
}

.div_portfolio_h1 h1 {
    margin-left: 60px;
    letter-spacing: 10px;
}

.div_portfolio_h1 button {
    margin-right: 20px;
    width: 5%;
    font-weight: bold;
    background-color: inherit;
    border: none;
    outline: none;
    font-size: 25px;
}

.div_portfolio_text_about {
    overflow: hidden;
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.7;
}

.div_portfolio_text_about div {
    font-size: 20px;
    text-align: justify;
}

.div_portfolio_text_about div a {
    color: red;
}

.div_portfolio_text_about div a:hover {
    color: darkred;
    text-decoration: underline;
}

.nav_tag {
    background: rgba(7, 7, 7, 0.9);
    text-align: center;
    position: fixed;
    display: flex;
    height: 85px;
    width: 100%;
    z-index: 2;
}

.div_burger {
    cursor: pointer;
    height: 40px;
    width: 40px;
    position: absolute;
    top: 50%;
    right: 20px;
    display: flex;
    transform: translate(-50%, -50%);
    justify-content: flex-end;
    align-items: center;
    opacity: 0;
    transition: 200ms;
    pointer-events: none;
}

.navigation_burger {
    background: rgba(7, 7, 7, 0.9);
    position: fixed;
    display: flex;
    right: 0;
    opacity: 0;
    pointer-events: none;
    top: 85px;
    height: 100%;
    width: 0;
    z-index: 2;
    transition: 200ms;
}

.burger,
.burger::before,
.burger::after {
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #cdcdcd;
    text-align: initial;
}

.burger::before {
    content: " ";
    top: -10px;
}

.burger::after {
    content: " ";
    top: 10px;
}

#\#burger {
    opacity: 0;
    pointer-events: none;
    position: fixed;
}

#\#burger:checked ~ nav label span::before {
    top: 0;
    transform: rotate(90deg);
}

#\#burger:checked ~ nav label span {
    transform: rotate(45deg);
}

#\#burger:checked ~ nav label span::after {
    top: 0;
    transform: rotate(90deg);
}

#\#burger ~ nav label span,
#\#burger:checked ~ nav label span::after,
#\#burger:checked ~ nav label span::before {
    transition: 200ms;
}

#\#burger:checked ~ .navigation_burger {
    opacity: 1;
    pointer-events: initial;
    width: 200px;
}

.list_ul_burger {
    justify-content: flex-start;
    list-style: none;
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.a_header_burger {
    color: #cdcdcd;
}

.a_header_burger:hover {
    background-color: #cdcdcd;
    color: #1a1a1a;
    transition: all 400ms ease;
}

.li_items_burger {
    justify-content: center;
    display: flex;
    padding: 10px 0;
    font-size: 20px;
    color: inherit;
    height: 100%;
}

.list_ul {
    justify-content: flex-end;
    list-style: none;
    display: flex;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.a_header {
    color: #cdcdcd;
    height: 100%;
}

.a_header:hover {
    background-color: #cdcdcd;
    color: #1a1a1a;
    transition: all 400ms ease;
}

.li_items {
    align-items: center;
    display: flex;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 34px;
    color: inherit;
    height: 100%;
}

.div_home {
    height: 1000px;
    display: flex;
    width: 100%;
    background-image: url("images/bg.jpg");
    background-size: cover;
}

.bg_text {
    position: relative;
    top: 60%;
    left: 10%;
    color: #e5e5e5;
    text-shadow: 1px 1px 10px #000000;
    font-size: 54px;
}

.div_about_me {
    background-color: #bfbfbf;
    padding: 0;
    margin: 0;
    height: 1000px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.photo_group {
    height: 50%;
    width: 700px;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
}

.div_photo {
    position: absolute;
}

#my_photo {
    width: 230px;
    height: 300px;
    padding-left: 330px;
    padding-top: 20%;
}

#back_my_photo {
    width: 450px;
    height: 300px;
}

span {
    width: 800px;
    height: 3px;
    background-color: gray;
}

.div_about_text {
    margin-left: 10px;
}

.text_about_me {
    align-items: center;
    overflow: hidden;
    background-color: white;
    border-radius: 10px;
    border: 3px solid gray;
    height: 40%;
    width: 700px;
    min-width: 350px;
    display: flex;
    font-size: 24px;
    margin-left: 40px;
    flex-flow: column;
    justify-content: center;
    color: #000000;
    z-index: 1;
}

.h2_about_me {
    font-size: 44px;
    letter-spacing: 10px;
    margin: 0;
    line-height: 1.6;
    padding-left: 30px;
    text-transform: uppercase;
}

.portfolio {
    height: 1000px;
    width: 100%;
    background-color: #e5e5e5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h2_and_images {
    height: 80%;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.portfolio_h2 {
    letter-spacing: 10px;
    margin: 0;
    font-size: 48px;
}

.portfolio_image {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image_group {
    background-color: white;
    border: 3px solid #e5e5e5;
    text-align: center;
    padding: 30px 40px;
}

.image_group button {
    background-color: black;
    border: none;
    color: #e5e5e5;
    width: 60%;
    height: 15%;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

.image_group button:active {
	background-color: #404040;
	transition: 200ms;
}

.image_portfolio {
    height: 200px;
    width: 300px;
}

.image_text {
    font-size: 24px;
    letter-spacing: 4px; 
}

.contacts {
    height: 600px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.email_phone {
    min-width: 100%;
    text-align: center;
    line-height: 2;
}

.href_img {
    margin: 30px;
    display: flex;
    flex-flow: row;
}

.img_contact {
    margin: 0 10px;
    height: 64px;
    width: 64px;
}

.a_contacts {
    color: red;
}

.a_contacts:hover {
    color: darkred;
    text-decoration: underline;
}

.div_footer {
    height: 275px;
    background: #070707;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.p_footer_name {
    font-size: 32px;
}

.p_footer_year,
.p_footer_name {
    font-family: 'Cormorant Unicase', serif;
    color: white;
    margin: 0;
    letter-spacing: 8px;
}

.p_footer_year {
    font-size: 18px;
}

.div_active {
    pointer-events: initial;
    opacity: 1;
}
.time {
    transition: none;
}

.div_active[data-div-flashcards],
.div_active[data-div-virtual-piano] {
    height: 400px;
    width: 700px;
}

.nav_tag_anim {
    transition: 500ms;
}

@media screen and (max-width: 1000px) {
    .list_ul {
        opacity: 0;
        pointer-events: none;
    }

    .div_burger {
        pointer-events: initial;
        opacity: 1;
    }
}